/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.red{
    background-color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font:white;
}

.white{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}
.orange{
    background-color:orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}